#calc {
	padding-left: 2%;
	margin-top: 5%;
}

.input {
	border-style:solid;
    border-radius: 5px;
    border-color: #BBB;
    background-color: #DDD;
    width: 100%;
}

.output {
	border-style:solid;
    border-radius: 5px;
    border-color: #BBB;
    background-color: #DDD;
}
